<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "author" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Author</h3>
      </div>
    </div>

    <div class="slide-out-content">
      {{author-form author=model onsubmit=(action "saveAuthor")}}
    </div>
  </div>
</div>
