<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "author" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Author</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <form {{action "saveAuthor" on="submit"}}>
        <div class="field">
          <label>First Name:</label>
          {{input type="text" placeholder="First Name" value=model.first}}
        </div>

        <div class="field">
          <label>Last Name:</label>
          {{input type="text" placeholder="Last Name" value=model.last}}
        </div>

        <div class="field">
          <label>User:</label>
          {{input type="text" placeholder="Username" value=model.username}}
        </div>

        <div class="form-footer">
          <button type="submit" class="btn-submit">save</button>
        </div>
      </form>
    </div>
  </div>
</div>
