<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "book" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Book</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <BookForm @book={{this.model.book}} @authors={{this.model.authors}} @onsubmit={{action this.saveBook}} />
    </div>
  </div>
</div>
