<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "book.detail" model.book.id class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>Editing {{model.book.title}}</h3>
      </div>
    </div>

    <div class="slide-out-content">
      {{book-form book=model.book authors=model.authors onsubmit=(action "saveBook")}}
    </div>
  </div>
</div>
