<div class="slide-out-content">
  <div class="title">
    <h3>{{this.model.ratings.length}} Ratings</h3>

    <div class="actions">
      {{#link-to "book.detail.create-rating" this.model.id class="btn-secondary btn-add btn"}}
        Add your review
      {{/link-to}}
    </div>
  </div>

  <ul class="review-list">
    {{#each this.model.ratings as |rating|}}
      <BookRating @rating={{rating}} />
    {{/each}}
  </ul>
</div>
