<div class="slide-out-content">
  <div class="title">
    <h3>New Review for {{model.book.title}}</h3>
  </div>

  {{review-form review=model.review book=model.book onsubmit=(action "saveReview")}}
</div>
