<div class="panel-heading">
  <div class="search">
    {{input type="text" placeholder="Search by Title or ISBN" value=this.search}}
  </div>

  {{#link-to "book.create" class="btn-new"}}
    <div class="sr-only">Add New Book</div>
  {{/link-to}}
</div>

<div class="panel-content">
  <h3 class="panel-title">Books</h3>

  <ul class="collection">
    {{#each this.model as |book|}}
      <li>
        {{#link-to "book.detail" book.id}}
          <span class="book-title">{{book.title}}</span>
          <em class="book-isbn">{{book.isbn}}</em>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>


<div class="slide-container">
  {{outlet}}
</div>
